.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius:20px;
}

.content {
  padding: 18px;
  padding-top: 0px;
}

.form-group {
  display: block;
  margin-bottom: 1px;
}

.form-label {
  width: 130px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

input {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid;
}

.checkbox {
  display: inline-block;
  font-size: 14px;
}

.send-button {
  background: #ffffff;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: #000000;
}